{% extends 'base.html.twig' %}

{% block title %}Créer une sortie{% endblock %}

{%  block titrePage %}Créer une sortie{% endblock %}

{% block body %}


    {{ form_start(formActivity) }}
    <div class="row">
    <div class="col-md-6">
    {{ form_row(formActivity.name, {label: 'Nom'}) }}
    {{ form_row(formActivity.beginDateTime,{label: 'Date et heure de  la sortie'}) }}
{#        {{ form_widget(formActivity.beginDateTime.date ) }}#}
{#        {{ form_widget(formActivity.beginDateTime.time) }}#}
        {{ form_row(formActivity.registrationDeadline, {label: 'Date limite d\'inscription'}) }}
    {{ form_row(formActivity.maximumUserNumber, {label: 'Nombre de places'}) }}
    {{ form_row(formActivity.duration, {label: 'Durée (en minutes)'}) }}
    {{ form_row(formActivity.detail, {label: 'Description et infos'}) }}
    </div>
    <div class="col-md-6">
    {{ form_row(formActivity.campus, {label: 'Campus'}) }}
        <div class="border p-2 mt-2 rounded border-muted"><h5 class="w-auto">Lieu de la sortie</h5>
            {{ form_widget(formActivity.location) }}
        </div>
    </div>
    </div>
    <div class="mt-2">
        {{ form_row(formActivity.publier) }}
    <button type="submit" class="btn btn-secondary">Enregistrer</button>
    </div>

    {{ form_end(formActivity) }}

    <script>
        flatpickr(".datepicker", {
            enableTime: true,
            altInput:true,
            altFormat: "d-m-Y h:i",
            locale: "fr",
            time_24hr: true});
    </script>

{% endblock %}
