{% extends 'base.html.twig' %}

{% block title %}Créer une sortie{% endblock %}

{%  block titrePage %}Créer une sortie{% endblock %}

{% block body %}
{#    <script>#}
{#        $(document).ready(function() {#}
{#            // you may need to change this code if you are not using Bootstrap Datepicker#}
{#            $('.js-datepicker').datepicker({#}
{#                format: 'yyyy-mm-dd'#}
{#            });#}
{#        });#}
{#    </script>#}
    {{ form_start(formActivity) }}
    <div class="row">
    <div class="col-md-6">
    {{ form_row(formActivity.name, {label: 'Nom de la sortie'}) }}
    {{ form_row(formActivity.beginDateTime, {label: 'Date et heure de la sortie'}) }}
    {{ form_row(formActivity.registrationDeadline, {label: 'Date limite d\'inscription'}) }}
    {{ form_row(formActivity.maximumUserNumber, {label: 'Nombre de places'}) }}
    {{ form_row(formActivity.duration, {label: 'Durée (en minutes)'}) }}
    {{ form_row(formActivity.detail, {label: 'Description et infos'}) }}
    </div>
    <div class="col-md-6">
    {{ form_row(formActivity.campus, {label: 'Campus'}) }}
    {{ form_row(formActivity.location, {label: 'Lieu de la sortie'}) }}
    </div>
    </div>
    <div class="mt-2">
{#        {{ form_row(formActivity.publier,{label: 'Publier'  },{'html_attr':{'class' :'btn btn-secondary'}})}}#}
{#        {{ form_row(formActivity.state) }}#}
        {{ form_row(formActivity.publier) }}
{#        {{ form_row(formActivity.enregistrer,{label: 'Enregistrer'  })}}#}
    <button type="submit" class="btn btn-secondary">Enregistrer</button>
    </div>

    {{ form_end(formActivity) }}

{% endblock %}
