{% extends 'base.html.twig' %}

{% block title %}Créer une sortie{% endblock %}

{%  block titrePage %}Créer une sortie{% endblock %}

{% block body %}

    {{ form_start(formActivity) }}
    <div class="row">
    <div class="col-md-6">
    {{ form_row(formActivity.name, {label: 'Nom de la sortie'}) }}
    {{ form_row(formActivity.beginDateTime, {label: 'Date et heure de la sortie'}) }}
    {{ form_row(formActivity.registrationDeadline, {label: 'Date limite d\'inscription'}) }}
    {{ form_row(formActivity.maximumUserNumber, {label: 'Nombre de places'}) }}
    {{ form_row(formActivity.duration, {label: 'Durée (en minutes)'}) }}
    {{ form_row(formActivity.detail, {label: 'Description et infos'}) }}
    </div>
    <div class="col-md-6">
    {{ form_row(formActivity.campus, {label: 'Campus'}) }}
    {{ form_row(formActivity.location, {label: 'Lieu de la sortie'}) }}
    </div>
    </div>
    <div class="mt-2">
        {{ form_row(formActivity.publier) }}
    <button type="submit" class="btn btn-secondary">Enregistrer</button>
    </div>

    {{ form_end(formActivity) }}

{% endblock %}
