{% extends 'base.html.twig' %}

{% block title %}Modifier une sortie{% endblock %}

{%  block titrePage %}Modifier une sortie{% endblock %}

{% block body %}

    {{ form_start(editForm) }}
    <div class="row">
    <div class="col-md-6">
    {{ form_row(editForm.name, {label: 'Nom'}) }}
    {{ form_row(editForm.beginDateTime, {label: 'Date et heure du début de la sortie'}) }}
        {{ form_row(editForm.registrationDeadline, {label: 'Date limite d\'inscription'}) }}
    {{ form_row(editForm.maximumUserNumber, {label: 'Nombre de places'}) }}
    {{ form_row(editForm.duration, {label: 'Durée (en minutes)'}) }}
    {{ form_row(editForm.detail, {label: 'Description et infos'}) }}
    </div>
    <div class="col-md-6">
    {{ form_row(editForm.campus, {label: 'Campus'}) }}
        <div class="border p-2 mt-2 rounded border-muted"><h5 class="w-auto">Lieu de la sortie</h5>
            {{ form_widget(editForm.location) }}

        </div>
    </div>
    </div>
    <div class="mt-2">
        {{ form_row(editForm.publier) }}
        <div class="text-center">
            <button type="submit" class="btn btn-secondary">Modifier</button>
            <button class="btn btn-secondary mx-2"><a class="text-reset text-decoration-none" href="{{path('activity_cancel', {"id": id } )}}">Annuler la sortie</a></button>
        </div>



    </div>

    {{ form_end(editForm) }}
    <script>
        flatpickr(".datepicker", {
            enableTime: true,
            altInput:true,
            altFormat: "d-m-Y H:i",
            locale: "fr",
            time_24hr: true});
    </script>
{% endblock %}
