{% extends "base.html.twig" %}

{% block title %}Créer une nouvelle ville{% endblock %}

{% block body %}
    <h2>Créer une nouvelle ville</h2>
    {{ form_start(form) }}
    {{ form_row(form.name, {label: 'Nom de la ville'}) }}
    {{ form_row(form.postcode, {label: 'Code Postal'}) }}
    <br>
    <div class="text-center">
        <button type="submit"  class="btn btn-sm btn-outline-secondary">Ajouter</button>
        <a href="{{ url('city_view') }}"class="btn btn-sm btn-outline-secondary">Retour</a>
    </div>

    {{ form_end(form) }}
{% endblock %}