{% extends 'base.html.twig' %}

{% block title %}Liste des villes{% endblock %}

{% block body %}
    <h2>Liste des villes</h2>
    <ul>
        {% for city in cities %}
            <li>{{ city.name }} - {{ city.postcode }} <a class="text-secondary" href="{{ url('city_modify', {"id": city.id}) }}">Modifier</a> <a class="text-secondary" href="{{ url('city_delete', {"id": city.id}) }}">Supprimer</a></li>
        {% endfor %}
        <li><a class="text-secondary" href="{{ url('city_add') }}">Ajouter</a></li>
        {{ knp_pagination_render(cities) }}
    </ul>
{% endblock %}