{% extends 'base.html.twig' %}

{% block title %}Affichage du profil de {{ app.user.username }}{% endblock %}
 {%  block titrePage %}{{ app.user.username }}{% endblock %}
{% block body %}
<div>
    <ul>
        <li>Prénom {{ app.user.firstname }}</li>
        <li>Nom {{ app.user.name }}</li>
        <li>Téléphone {{ app.user.phone }}</li>
        <li>Email {{ app.user.email }}</li>
        <li>Campus {{ app.user.campus.name }}</li>
    </ul>
</div>
{% endblock %}
